body {
    background-color: black;
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
}

.color {
    width: 18%;
    margin: 1%;
    padding-bottom: 18%;
    float: left;
    border-radius: 50%;
    transition: background .4s;
    --webkit-transition: background .4s;
    --moz-transition: background .4s;
}

#container {
    max-width: 70%;
    margin: 3% auto;
}

#header {
    color: white;
    text-align: center;
    padding: 1%;
    padding-bottom: 3%;
    font-weight: normal;
    transition: background .8s;
    --webkit-transition: background .8s;
    --moz-transition: background .8s;
}

h2 {
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    padding: 4%;
    line-height: 1.1;
}

.win-color {
    color: black;
}

.control-bar {
    background: white;
    height: 30px;
    text-align: center;
    font-size: 2.2vw;
}

.selected {
    background: black;
    color: white;
}

button {
    border: none;
    background: none;
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    font-size: inherit;
    margin: 0 -3px;
    outline: none;
    transition: background .3s;
    --webkit-transition: background .3s;
    --moz-transition: background .3s;
}

@media all and (max-width: 2000px) and (min-width:800px) {
    .control-bar {
        height: 50px;
    }
    #header {
        height: 120px;
    }
    h2 {
        padding: 1%;
    }
    button {
        margin: 0 -.4%;
    }
    #container {
        max-width: 50%;
        margin: 3% auto;
    }
}

#message {
    display: inline-block;
    width: 30%;
}

button:hover {
    background-color: black;
    color: white;
}

.waiting {
    cursor: not-allowed !important;
}